.plans-section-2-plans-plan-no-1-1
  .plans-section-2-plans-plan-no-1-image
    img(src=`${plan.planImage}` alt='')
  .plans-section-2-plans-plan-no-1-heading
    h2 #{plan.name}
    p #{plan.address}  #{plan.bookedOn}
  .plans-section-2-plans-plan-no-1-price
    .plans-section-2-plans-plan-no-1-pricing $#{plan.currentPrice}
    .plans-section-2-plans-plan-no-1-buynow-1  ✔ 